apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
  - ../cluster
  #  - github.com/utilitywarehouse/gatekeeper-manifests/cluster?ref=3.1.0-beta.1-1
  - ../namespaced
  #  - github.com/utilitywarehouse/gatekeeper-manifests/namespaced?ref=3.1.0-beta.1-1
patchesStrategicMerge:
  - gatekeeper-patch.yaml
resources:
  - gatekeeper.yaml
  - rbac.yaml
